@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    background: url('./assets/images/background.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 60px;
}